<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../bower_components/neon-animation/neon-animation.html">

<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-signals/iron-signals.html">

<link rel="import" href="../components/ls-post.html">
<link rel="import" href="../components/ls-show.html">
<link rel="import" href="../components/ls-new-post.html">

<dom-module id="ls-lovepage">
  <style>
    :host ::content iron-list {
      display: flex;
      padding-top: 1px;
      padding-bottom: 16px;
      -webkit-flex: 1 1;
      flex: 1 1;
      width: 100%;
    }

    :host ::content #items {
      width: 100%;
    }

  </style>

  <template>
    <ls-show url="[[url]]"></ls-show>
    <ls-new-post url="[[url]]"></ls-new-post>
  </template>

  <script>
    Polymer({
      is: 'ls-lovepage',
      properties: {
        url: String
      }
    })
  </script>
</dom-module>
