<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="ls-new-post">
  <style>
    :host ::content {
      @apply(--paper-font-body1);
    }

    :host ::content paper-material {
      width: 60%;
      margin-bottom: 20px;
    }

    :host ::content .wrapper {
      padding: 15px;
    }

    :host ::content paper-button.green {
      background: var(--google-green-500);
      color: white;
    }

  </style>

  <template>
    <div class="layout vertical center">
      <paper-material>
        <div class="wrapper">
          <h2>What's in your mind?</h2>

          <form
            action="[[post_url]]"
            is="iron-form"
            method="post"
            id="new_post"
            on-iron-form-response="reloadList"
          >

            <input
              value="{{authValue}}"
              name="authenticity_token"
              type="hidden"
            ></input>

            <paper-input name="post[title]" label="Title" value="{{postTitle}}"></paper-input>
            <paper-textarea name="post[content]" label="Content go here" value="{{postContent}}"></paper-textarea>

            <br>
            <paper-button raised on-tap="submitForm" class="green">Post</paper-button>
          </form>

        </div>
      </paper-material>
    </div>
  </template>

  <script>
    Polymer({
      is: 'ls-new-post',
      properties: {
        url: String,
        post_url: {
          type: String,
          computed: "postURL(url)"
        },
        authValue: {
          type: String,
        }
      },
      ready: function() {
        this.authValue = document.querySelector("meta[name=csrf-token]").content;
      },
      postURL: function(url) {
        return url + "/posts";
      },
      submitForm: function(e) {
        this.$.new_post.submit();
      },
      reloadList: function(e) {
        this.postTitle = "";
        this.postContent = "";
        this.fire('iron-signal', {name: 'updateposts', data: null});
      }
    })
  </script>
</dom-module>
