<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="ls-new-post">
  <style>
    :host ::content {
      @apply(--paper-font-body1);
    }

    :host ::content paper-material {
      width: 50%;
      margin-bottom: 15px;
    }

    :host ::content paper-material[small-screen]{
      width: 100%;
    }

    :host ::content h2 {
      padding-top: 10px;
      margin: 0;
    }

    :host ::content .wrapper {
      padding: 0 20px 0 20px;
    }

    :host ::content paper-button.green {
      background: var(--google-green-500);
      color: white;
      display: inline-block;
    }

    :host ::content file-upload {
      display: inline-block;
      color: var(--google-grey-500);
    }

    :host ::content iron-image {
      width: 150px;
      height: 150px;
      margin: 5px;
    }

    :host ::content .underline .focused-line {
      background: var(--google-green-500);
    }

    :host ::content file-upload #UploadBorder {
      padding: 0 !important;
    }
  </style>

  <template>
    <iron-media-query query="(max-width: 600px)" query-matches="{{smallScreen}}"></iron-media-query>
    <div class="layout vertical center">
      <paper-material small-screen$="{{smallScreen}}">
        <div class="wrapper">
          <h2>What's on your mind?</h2>

          <form
            action="[[post_url]]"
            is="iron-form"
            method="post"
            id="new_post"
            on-iron-form-response="reloadList"
            on-iron-form-presubmit="toggleShowSpinner"
          >

            <input
              value="{{authValue}}"
              name="authenticity_token"
              type="hidden"
            ></input>

            <input
              type="hidden"
              name="photo_ids"
              value="[[imageIds]]"
            ></input>

            <paper-input name="post[title]" label="Title" value="{{postTitle}}"></paper-input>
            <paper-textarea name="post[content]" label="Content go here" value="{{postContent}}"></paper-textarea>

            <br>
            <div class="container">
              <paper-button raised on-tap="submitForm" class="green">Post</paper-button>

              <file-upload
                target="/assets"
                method="post"
                on-success="successUploadPhoto"
                no-show-result
                progress-hidden="true"
              >
                <iron-icon icon="editor:insert-photo"></iron-icon>
              </file-upload>
            </div>
          </form>

          <div class="layout horizontal wrap">
            <template is="dom-repeat" items="{{images}}">
              <iron-image src="{{item.photo_url}}" preload sizing="cover"></iron-image>
            </template>
          </div>

          <paper-spinner active="[[loading]]"></paper-spinner>

        </div>
      </paper-material>
    </div>
  </template>

  <script>
    Polymer({
      is: 'ls-new-post',
      properties: {
        url: String,
        post_url: {
          type: String,
          computed: "postURL(url)"
        },
        authValue: {
          type: String,
        },
        loading: {
          type: Boolean,
          value: false
        },
        images: {
          type: Object,
          value: []
        },
        imageIds: {
          type: Object,
          value: []
        }
      },
      ready: function() {
        this.postTitle = "";
        this.postContent = "";
        this.authValue = document.querySelector("meta[name=csrf-token]").content;
      },
      postURL: function(url) {
        return url + "/posts";
      },
      submitForm: function(e) {
        this.imageIds = this.images.reduce(function(ar, im) {
          return ar.concat(im.id);
        }, [])

        this.$.new_post.submit();
      },
      reloadList: function(e) {
        this.postTitle = "";
        this.postContent = "";
        this.images = [];

        this.toggleShowSpinner();
        this.fire('iron-signal', {name: 'updateposts', data: null});
      },
      toggleShowSpinner: function(e) {
        this.loading = !this.loading;
      },
      successUploadPhoto: function(e, detail) {
        this.push('images', JSON.parse(detail.xhr.responseText));
      }
    })
  </script>
</dom-module>
