<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="ls-post">
  <style>
    :host {
      @apply(--paper-font-body1);
    }

    :host ::content .container {
      width: 50%;
      position: relative;
    }

    :host ::content .more-vert  {
      position: absolute;
      right: 0;
      top: 0;
      color: var(--google-grey-500);
    }

    :host ::content paper-card {
      margin-bottom: 15px;
      width: 100%;
    }

    :host ::content .card-content {
      padding: 16px 0;
    }

    :host ::content .wrapper {
      padding: 10px 15px 0 15px;
    }

    :host ::content .content {
      white-space: pre-line;
    }

    :host ::content paper-ripple {
      color: var(--paper-green-a400);
    }
  </style>

  <template>
    <div class="vertical layout center">

      <div class="container">
        <paper-card
          heading="[[item.title]]"
          elevation="2"
          class="flex"
        >

          <paper-icon-button icon="more-vert" class="more-vert"></paper-icon-button>

          <paper-ripple></paper-ripple>

          <div class="card-content">
            <div class="wrapper">

              <fb-avatar
                uid="[[item.fb_uid]]"
                imgtype="small"
              ></fb-avatar>
              <sc-timeago
                datetime="[[item.created_at]]"
              ></sc-timeago>

            </div>
            <div class="wrapper content">[[item.content]]</div>
          </div>
        </paper-card>
      <div>
    </div>
  </template>

</dom-module>

<script>
  Polymer({
    is: "ls-post",
    properties: {
      item: Object
    }
  })
</script>

