<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="ls-post">
  <style>
    :host {
      @apply(--paper-font-body1);
    }

    :host ::content .container {
      width: 60%;
    }

    :host ::content paper-card {
      margin-bottom: 15px;
      width: 100%;
    }

    :host ::content .card-content {
      padding: 16px 0;
    }

    :host ::content .wrapper {
      padding: 0 10px;
    }

    :host ::content .content {
      white-space: pre-line;
    }
  </style>

  <template>
    <div class="vertical layout center">
      <div class="container">
        <paper-card
          heading="[[item.title]]"
          elevation="2"
          class="flex"
        >
          <div class="card-content">
            <div class="wrapper">
              <fb-avatar
                uid="[[item.fb_uid]]"
                imgtype="small"
              ></fb-avatar>
              <sc-timeago
                datetime="[[item.created_at]]"
              ></sc-timeago>

            </div>
            <div class="wrapper content">[[item.content]]</div>
          </div>
          <div class="card-actions">
            <paper-button>Edit</paper-button>
            <paper-button>Delete</paper-button>
          </div>
        </paper-card>
      <div>
    </div>
  </template>

</dom-module>

<script>
  Polymer({
    is: "ls-post",
    properties: {
      item: Object
    }
  })
</script>

