<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="ls-show">
  <template>
    <style>
      :host ::content iron-list {
        height: 100vh;
      }
    </style>

    <iron-signals
      on-iron-signal-updateposts="updatePosts"
    ></iron-signals>

    <iron-ajax
      url="[[url]]"
      last-response="{{data}}"
      id="posts"
      auto
    ></iron-ajax>

    <template is="dom-repeat" items="[[data]]" as="item" class="layout vertical center">
      <ls-post item="[[item]]"></ls-post>
    </template>
  </template>

  <script>
    Polymer({
      is: "ls-show",
      properties: {
        url: String
      },
      updatePosts: function(e) {
        this.$.posts.generateRequest();
      }
    })
  </script>
</dom-module>
