<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="ls-sidebar">
  <style>
    :host ::content * {
      @apply(--paper-font-body1);
    }

    :host ::content paper-icon-item {
      padding: 10px;
      display: block;
    }
  </style>

  <template>
    <div class="wrapper">
      <paper-icon-item>
        <iron-icon icon="link" item-icon></iron-icon>
        Invite yours love
      </paper-icon-item>
    </div>
  </template>

  <script>
    Polymer({
      is: 'ls-sidebar',
      properties: {
      }
    })
  </script>
</dom-module>
