<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="ls-show">
  <template>
    <style>
      :host ::content iron-list {
        min-height: 100vh;
      }
    </style>

    <iron-signals
      on-iron-signal-updateposts="updatePosts"
    ></iron-signals>

    <iron-ajax
      url="[[url]]"
      last-response="{{data}}"
      id="posts"
      auto
    ></iron-ajax>

    <iron-list items="[[data]]" as="item" class="layout vertical center" id="list">
      <template>
        <ls-post item="[[item]]"></ls-post>
      </template>
    </iron-list>
  </template>

  <script>
    Polymer({
      is: "ls-show",
      properties: {
        url: String
      },
      updatePosts: function(e) {
        this.$.posts.generateRequest();
      },
      attached: function() {
        this.async(function() {
          this.$.list.notifyResize();
        }, 500) // FIXME: Buggy here
      }
    })
  </script>
</dom-module>
