common: &default_settings
  license_key: 
  app_name: Lovestory
  log_level: info

development:
  <<: *default_settings
  app_name: My Application (Development)
  developer_mode: true

test:
  <<: *default_settings
  monitor_mode: false

staging:
  <<: *default_settings
  app_name: My Application (Staging)

production:
  <<: *default_settings
