<dom-module id="love-pages">
  <link rel="stylesheet" href="love-pages.css" />
  <template>
    <div class="container">
      <div class="main-content">
        <section>
          <div class="page-header">
            <h5 class="pink-text">
              <i class="material-icons md">list</i>
              <span class="small">My pages</span>
            </h5>
            <div class="lead">
              This is the list of your love pages
            </div>
          </div>
          <div class="row top-20">
            <table class="responsive-table highlight">
              <thead>
                <th>
                  Collaborators
                </th>
                <th>
                  Page name
                </th>
                <th>
                  Created at
                </th>
                <th>
                  Post Count
                </th>
                <th>
                  Action
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="https://graph.facebook.com/518031188/picture" class="responsive circle" />
                  </td>
                  <td>
                    Tittle
                  </td>
                  <td>
                    Tittle
                  </td>
                  <td>
                    Tittle
                  </td>
                  <td>
                    <a href="" class="waves-effect waves-teal btn btn-link transparent tooltipped" data-delay="50" data-tooltip="Leave this page" data-position="top">
                      <i class="material-icons red-text">input</i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  </template>

  <script src="love-pages.js"></script>
</dom-module>
