:host {
  display: block;
}

:host ::content .top-20 {
  margin-top: 20px;
}

:host ::content .lead {
  opacity: 0.7;
}

:host ::content .md {
  vertical-align: bottom;
}

:host ::content .btn-custom{
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 100%;
}

:host ::content .header {
  text-transform: uppercase;
  font-height: 500;
}

:host ::content .table-content {
  border-top: 1px solid #D0D0D0;
  overflow: hidden;
}

:host ::content .table-row {
  transition: 0.25s ease;
  padding: 4px;
}

:host ::content .table-row:hover {
  background: #F2F2F2;
}

:host ::content .cell {
  line-height: 40px;
}

:host ::content .btn-link {
  box-shadow: none;
}

:host ::content .btn-link:hover {
  background: #333;
}
