<dom-module id="love-pages">
  <link rel="stylesheet" href="love-pages.css" />
  <template>
    <div class="main-content">
      <div class="row">
        <div class="col m10 offset-m1">
          <div class="page-header">
            <h5 class="pink-text">
              <i class="material-icons md">list</i>
              <span class="small">My pages</span>
            </h5>
            <div class="lead">
              This is the list of your love pages
            </div>
          </div>
          <div class="top-20">
            <div class="table">
              <div class="row header">
                <div class="col s4">Collaborators</div>
                <div class="col s3">Page name</div>
                <div class="col s2">Created at</div>
                <div class="col s1">Posts</div>
                <div class="col s2">Action</div>
              </div>
              <div class="table-content">
                <template is="dom-repeat" items="{{lovePages}}">
                  <love-page-row data="[[item]]"/>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script src="love-pages.js"></script>
</dom-module>
