@import 'remodal-custom'
@import 'nav'

$asset_url : "https://raw.githubusercontent.com/duykhoa/lovestory-assets/master/"

html
  width: 100%
  height: 100%

body
  height: 100%
  margin: 0
  font-family: 'Oxygen', sans-serif !important

main
  height: 100%

#skrollr-body
  position: relative
  height: 100%

.page-container
  width: 100%
  height: 100%
  min-height: 100%
  margin-top: -64px

.wrapper
  height: 100%
  min-height: 100%

section
  position: relative
  background-size: cover
  height: 100%

  .container
    height: 100%

section#header
  overflow: hidden
  .owl-carousel
    width: 100%
    height: 100%

    .owl-stage-outer, .owl-stage, .owl-item
      height: 100%

    .owl-dots
      position: absolute
      right: 50%
      bottom: 20px

      .owl-dot
        margin-left: 6px
        border-radius: 100%
        background: #fff
        opacity: 0.4
        display: inline-block
        width: 10px
        height: 10px

        &.active
          opacity: 0.7

  .slide
    @extend .owl-carousel
    overflow: hidden

    .slide-wrapper
      background-size: cover
      background-repeat: no-repeat

  #slide1
    .slide-wrapper
      background-image: url($asset_url + "slide1.jpg")

  #slide2
    .slide-wrapper
      background-image: url($asset_url + "slide2.jpg")

  #slide3
    .slide-wrapper
      background-image: url($asset_url + "slide3.jpg")

section#features
  background: #F6F6F6

.valign-wrapper
  height: 100%

  .row
    width: 100%

.valign
  margin: 0 auto

.content-container
  position: relative
  height: 100%

.center-content
  position: absolute
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  width: 70%

.is-sticky
  header
    position: relative
    background: rgba(255, 255, 255, 1)
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
    color: #111
    a, a:hover, a:visited
      color: #111 !important
    .logo
      border: 1px solid #111

.pinned
  position: fixed !important

.new-post-push-pin
  margin-top: 85px
  margin-left: 20px
